body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.app-root{max-width: 1024px;margin: auto;display: flex; justify-content: center; min-height: 100vh;}
/* user table =============================== */

.user-table{max-width: 1024px; margin: auto;padding: 20px; background-color: blanchedalmond; border-radius: 10px;}
.user-form{display: flex; height: 100vh;}
.button-component{margin-left: auto;}
.form{margin: auto; min-width: 700px;}
.form-fields{display: flex;flex-direction: column;gap: 20px;margin-bottom: 30px;}

.number-field{position: relative;}

.in-number{position: absolute; top: 41px;padding: 16px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-color: gainsboro; }












